{% extends 'appGeneral/components/base.html' %}

{% block siteTitle %}
 | Edit {{ form.title.value }}
{% endblock %}

{% block content %}
<section class = "contentSection contentSectionSmall">
    <div class = "contentContainer contentContainerNarrow">
        <h2>Edit {{ form.title.value }}</h2>
        <form action = "{% url 'editSkill' skillID %}" method = "post">
            {% include 'appSkills/components/skillFormBase.html' %}
            <div class = "center">
                <button class = "button" type = "submit">Confirm Edit</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}