{% extends 'appGeneral/components/base.html' %}

{% block siteTitle %}
{% if skill is not None %}
 | {{skill.title}}
{% else %}
 | Not found
{% endif %}
{% endblock %}

{% block content %}
<section class = "contentSection contentSectionSmall">
    <div class = "contentContainer">
    {% if skill is not None %}
        <div>
            <h4>Skill</h4>
                <h2>{{skill.title}}</h2>
                <h6>Level</h6>
                <p>{{skill.level}}</p>
                {%if skill.example != '' %}
                    <h6>Example</h6>
                    <p><a href = "{{skill.example}}">{{skill.example}}</a></p>
                    <h6>Description</h6>
                    <p>{{ skill.description }}</p>
                {% endif %}
        </div>
    {% else %}
        <p>Requested skill not found, sorry.</p>
    {% endif %}
    </div>
</section>

{% endblock %}