{% extends 'appGeneral/components/base.html' %}

{% block siteTitle %}
{% if skill is not None %}
 | {{skill.title}}
{% else %}
 | Not found
{% endif %}
{% endblock %}

{% block content %}
<section class = "contentSection contentSectionSmall">
    <div class = "contentContainer">
    {% if skill is not None %}
        <div>
            <h4>Skill</h4>
                <h2>{{skill.title}}</h2>
                <h5>Level</h5>
                <p>{{skill.level}}</p>
                <!-- {%if skill.example != '' %}
                    <h5>Example</h5>
                    <h6>{{skill.exampleName}}</h6>
                    <p><a href = "{{skill.example}}">{{skill.example}}</a></p>
                    <h5>Description</h5>
                    <p>{{ skill.description }}</p>
                {% endif %} -->
        </div>
        <div class = "center">
            <a class = "button multipleButton " href = "{% url 'editSkill' skillID%}">Edit this Skill</a>
            <a class = "button multipleButton alertButton">Delete this Skill</a>
        </div>
    {% else %}
        <p>Requested skill not found, sorry.</p>
    {% endif %}
    </div>
</section>

<script type = "text/javascript">
    var confirmButton = document.querySelector('.alertButton')

    confirmButton.addEventListener("click", function() {
        if (confirm('This skill will be gone forever!')) {
            window.location.href = "{% url 'deleteSkill' skillID%}"
        } else {
            return false;
        }
    })
</script>
{% endblock %}