/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/roboto-mono-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-mono-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-mono-700 - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
            url('fonts/roboto-mono-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('fonts/roboto-mono-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Global */
*, ::before, ::after{
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono', sans-serif;
    color: #333333;
    font-weight: 400;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: lightseagreen;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 16px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 16px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

.hidden {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 400;
    background-color: lightseagreen;
    border: none;
    border-radius: 3px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background-color 300ms;
}

.multipleButton {
    margin-left: 6px;
    margin-right: 6px;
}

.alertButton {
    background-color: crimson;
}

.button:hover {
    background-color: dodgerblue;
}

.alertButton:hover {
    background-color: tomato;
}

.contentSection {
    padding: 64px 16px;
}

.contentSectionSmall {
    min-height: calc(100vh - 200px);
}

.contentContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contentContainerNarrow {
    max-width: 800px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 16px;
}

@media screen and (min-width: 720px) {
    .grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Site header */
.siteHeader {
    background-color: lightseagreen;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: 64px;
}

.siteHeaderItem {
    color: #111111;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    transition: background-color 300ms;
}

.siteHeaderItem:hover {
    background-color: dodgerblue;
}

.siteHeaderHonk img {
    display: inline-block;
    height: 32px;
    margin-right: 8px;
}

/* Site Footer */
.siteFooter {
    background-color: lightseagreen;
    text-align: center;
    padding: 8px;
    width: 100%;
}

.siteFooter a {
    color: aquamarine;
}

.siteFooterHeader {
    color: #111111;
}

.siteFooterCopyright {
    font-size: 14px;
}

/* Form */
.formField {
    margin-bottom: 16px;
}

label {
    display: block;
    margin: 4px;
    line-height: 1.6;
}

input[type = "text"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    font-size: 16px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    padding: 4px 12px;
    outline: none;
}

input[type = "text"]:focus {
    border-color: dodgerblue;
    border-width: 2px;
}

/* Home */
.homeLanding {
    background-color: grey;
    background-image: url('self_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    max-height: 90vh;
    max-width: 100vw;
    padding: 120px 20vw;
    flex-grow: 1;
}

.homeLandingItem {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin-top: 0px;
    margin-bottom: 24px;
}

.homeLandingText {
    color: whitesmoke;
    font-size: 24px;
    font-weight: 700;
}

/* Skills */
.skillBlock {
    background-color: lightcyan;
    padding: 12px 12px;
    transition: 300ms;
}

.skillBlock:hover{
    border: none;
    border-radius: 12px;
    background-color: lightblue;
}

.skillBlock a:hover{
    color: lightseagreen;
    text-decoration: underline;
}

.example {
    margin-bottom: 12px;
    padding: 12px 12px;

    background-color: lightcyan;
    border: none;
    border-radius: 6px;
}

.multipleForm {
    margin-bottom: 60px;
}
